<div class="card">

  <div class="card__topic">
    <h2>Topic-1</h2>
  </div>
  <div class="card__subtitle">
    <p>Example text</p>
  </div>
  <div class="card__question">
    <p>Как зовут сына мамкиной подруги?</p>
  </div>
  <div class="card__input">
    <input type="text" class="inp-card">
  </div>
  <div class="card__btn">
    <button class="card-btn"> <span> GAME ON
      </span></button>
  </div>
</div>
