
<div class="sec-wr">
  <div class="bg-img"></div>
  <div class="sec-text">
    <div class="sec-f">QuizGame</div>
    <div class="sec-s">By>Kolyan><br>>Danya><br>>Ilya></div>
  </div>
  <div class="sec-text-d">
    <div class="sec-f">QuizGame By</div>
    <div class="sec-s">By</div>

  </div>
</div>

