<div id="removeDiv">
  <form class="container" method="post" id="registration">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input name="name" type="text" id="form3Example1" required class="form-control" />
          <label class="form-label" for="form3Example1">Name</label>
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input name="email" type="email" id="form3Example3" required class="form-control" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input name="password" type="password" inputmode="numeric" minlength="8" id="form3Example4" required
        class="form-control" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    <script defer src="/js/registration.js"></script>
  </form>
  <div id="removeDiv1">

  </div>
</div>
